* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #832ab2;
    font-size: 16px;
    font-family: Arial Narrow, sans-serif;
}

h1 {
    font-family: monospace;
    font-weight: 400;
    margin-top: 0.3rem;
}

button {
    width: 16rem;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    border: 2px solid #ccc;
    border-radius: 2rem;
    color: #832ab2;
    transition: 0.5s ease-in;
    background-color: #ccc;
}

button:hover {
    width: 16.5rem;
    color: #ccc;
    background-color: #832ab2;
}

a {
    text-decoration: none;
}

svg {
    margin-top: 0.5rem;
}

img {
    width: 19.5rem;
    margin: 0;
}

img:nth-child(2) {
    width: 12rem;
    border: 0.3rem ridge #ccc;
    box-shadow: 0px 0px 15px;
    border-radius: 50%;
}

footer {
    margin-top: 0.5rem;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
}

#insta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#iconsSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#versiculo {
    width: 25rem;
    margin: 1.5rem 0.4rem 0 0.4rem;
}
